/* Common */

input,
textarea,
select,
button {
	font-family: inherit;
	font-style: inherit;
	outline: none;
	border: none;
	width: inherit;
	background: inherit;
}

a {
	color: inherit;
	text-decoration: none;
	display: inline-block;
}

.logo {
	max-width: 100%;
}

html {
	font-size: 62.5%;
	font-family: var(--primary-font);
}

body {
	font-size: 1.6rem;
	color: #000;
}

.main-content {
	width: 153.5rem;
	margin-left: auto;
	margin-right: auto;
}

/* ================ Header ================ */
.header {
	height: 68.3rem;
	background: #000;
}

.header-nav {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 2rem 8rem;
	background: #fff;
}

.header__search {
	width: 35.25rem;
	margin-left: 20rem;
	padding: 1rem 1.25rem;
	display: flex;
	align-items: center;
	gap: 1.52rem;
	border-radius: 0.5rem;
	background: #f3f3f3;
}

.header__search-input {
	font-size: 1.4rem;
}

.header__language-choice {
	margin-left: 3rem;
	display: flex;
	gap: 1.5rem;
}

.language-choice__vi {
	position: relative;
	display: flex;
	align-items: center;
	color: #979999;
}

.language-choice__vi::before {
	content: "";
	display: inline-block;
	position: absolute;
	left: -0.6rem;
	width: 0.2rem;
	height: 80%;
	background: #979999;
	border-radius: 0.5rem;
}

.header__action-group {
	display: flex;
	margin: 0 3.5rem;
	gap: 3.5rem;
}

.header__shopping-cart {
	display: flex;
}

.header__img-wrap {
	position: relative;
}

.header__img-wrap::before {
	position: absolute;
	top: -0.8rem;
	right: -1rem;
	content: "4";
	display: inline-block;
	width: 1.5rem;
	height: 1.5rem;
	padding: 1rem;
	background: #29367c;
	border-radius: 50%;
	z-index: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
}

.header__shopping-amount {
	margin-left: 1.56rem;
	font-weight: 600;
}

/* ================ Footer ================ */
.footer {
	padding: 6rem 7rem 0;
	background: #f4f5f8;
}

.footer__general {
	display: flex;
	gap: 7.5rem;
}

.footer__subscribe {
	width: 50%;
}

.footer__subscribe-title {
	color: var(--primary-color-4);
}

.footer__subscribe-caption {
	margin-top: 1rem;
	color: var(--primary-color-4);
}

.form-subscribe {
	margin-top: 2rem;
	position: relative;
	display: inline-block;
}

.form-subscribe__email {
	font-weight: 600;
	min-width: 38rem;
	padding: 1.25rem 14.5rem 1.25rem 1.5rem;
	border-radius: 1rem;
	color: var(--primary-color-4);
	background: var(--bw-color-1);
}

.form-subscribe__email::placeholder {
	color: var(--bw-color-4);
}

.form-subscribe__submit {
	position: absolute;
	right: 0;
	top: 0;
	cursor: pointer;
}

.footer__delivery-charge {
	margin-top: 5rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.footer__socials {
	display: flex;
	gap: 3rem;
}

.footer__delivery-title {
	color: var(--primary-color-4);
}

.footer__delivery-desc {
	color: var(--primary-color-4);
	width: 20rem;
}

.footer__contact {
	width: 100%;
}

.footer__row {
	display: flex;
	gap: 8.75rem;
	justify-content: space-between;
}

.footer__list-title {
	color: var(--primary-color-4);
}

.footer__link {
	color: var(--primary-color-4);
	margin: 1rem 0;
	display: flex;
	align-items: center;
}

.footer__icon-img {
	margin-right: 1rem;
}

.footer__payment {
	display: flex;
	align-items: center;
	gap: 5rem;
}

.footer__payment-method {
	display: flex;
	align-items: center;
	gap: 3rem;
}

.footer__payment-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.footer__infor {
	color: var(--primary-color-5);
	background: var(--primary-color-1);
	margin: 0 -7rem;
	margin-top: 3rem;
	padding: 1.5rem 7.5rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
