/* Products */

.main--product .main-content {
	width: 100%;
}

.product__detail {
	width: 100%;
	display: flex;
	height: 60rem;
}

.product__gallery {
	flex: 1;
	position: relative;
	background-color: var(--bw-color-1);
}
.product__gallery--img {
	width: 100%;
	height: 98%;
}

.product__gallery--arrow-back-box {
	display: flex;
	position: absolute;
	width: 6.4rem;
	height: 6.4rem;
	background-color: var(--bw-color-1);
	left: 4rem;
	top: 2rem;
	border-radius: 1.6rem;
}

.arrow-back-box--icon {
	margin: auto;
	width: 50%;
	height: 50%;
}

.product__gallery--maximize-arrow-box {
	display: flex;
	position: absolute;
	width: 4.8rem;
	height: 4.8rem;
	background-color: var(--bw-color-1);
	bottom: 3rem;
	right: 4rem;
	border-radius: 1.6rem;
}

.maximize-arrow-box--icon {
	margin: auto;
	width: 50%;
	height: 50%;
}

.product__gallery--love-box {
	display: flex;
	position: absolute;
	width: 5.3rem;
	height: 5.3rem;
	background-color: var(--bw-color-1);
	bottom: 10rem;
	right: 4rem;
	border-radius: 10rem;
}

.product__gallery--love-box a {
	margin: auto;
}

.love-box--icon {
	margin: auto;
	width: 50%;
	height: 50%;
}

.product__gallery--arrow-back-box:hover,
.product__gallery--love-box:hover,
.product__gallery--maximize-arrow-box:hover {
	transform: scale(0.8);
	cursor: pointer;
}

.product__info {
	flex: 1;
	display: flex;
	height: 100%;
	background-color: var(--bw-color-1);
}

.product__info--content {
	width: 80%;
	height: 80%;
	margin: auto;
}

.content--breadcrumb .breadcrumb--list {
	display: flex;
	margin-bottom: 2rem;
}

.breadcrumb--item {
	margin-right: 0.5rem;
	color: var(--bw-color-4);
}

.breadcrumb--item:hover {
	color: var(--bw-color-6);
	transform: scale(0.9);
}

.item--active {
	color: var(--bw-color-6);
}

.content--breadcrumb,
.content--product-name,
.content--product-price {
	margin-bottom: 2rem;
}

.product-price--current {
	display: inline;
	width: fit-content;
	margin-right: 0.5rem;
}

.product-price--pre {
	display: inline;
	color: var(--bw-color-4);
}

.product-price--discount-percent {
	color: var(--green-color);
}
